$blue:#a0d6de;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $blue;
    color: black;
    @include margenes(20px, 20px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $blue;
    @include margenes(10px, 0px);
}


.card-hotel{
flex: 1 200px;
/* padding: 2px 0px 2px 0px; */
@include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
  /*   position: absolute;
    left: 0;
    bottom: 0; */
}


.footer-address-icon{
    padding-right: 10px;
}

.estilo{
    width: 100%;
    height: 300px;
}

.tab-content{
    padding-top: 10px;
}